<section class="container-InfoProductsCart">
<h2>Your Cart </h2>
<p class="idCart"> {{infoThisCart.idCart}}</p>
<p class="idCart">{{infoThisCart.email}}</p>
<article class="infoProductsCart">
    <p class="idCart">Tus productos son:</p>
    <table class="tableCart" id="productsTableCart">
        <tr>
            <th>PRODUCT</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
        </tr>
       {{#each infoThisCart.products}}
  <tr>
    <td>{{this.idProduct.title}}</td>
    <td>{{this.idProduct.price}}</td>
    <td>{{this.qty}}</td>
  </tr>
{{/each}}
    </table>
</article>
<a href="/ticket" class="btnGoToTicket">CONFIRMAR COMPRA</a>
</section>
         