<section class="ticketZone">
  <article class="renderCart">
    <h2>Your Cart (Products Insufficient)</h2>
    {{#each ticket.productsInsufficient}}
      <p>{{title}} - Qty: {{qty}}- price {{price}} </p>
    {{/each}}
  </article>
  <article class="renderTicket">
    <h2>Your Purchase</h2>
    <p>Code: {{ticket.code}}</p>
    <p>Products:</p>

    {{#each ticket.productsSufficient}}
      <p>{{title}} - Qty: {{qty}} - Price: {{price}}</p>
    {{/each}}

    <p>Total Amount: {{ticket.amount}}</p>
    <p>Purchaser: {{ticket.purchaser}}</p>
  </article>
</section>