<section class="ticketZone">
    <article class="renderCart">
  <h2>Your Cart (Products Pending)</h2>
 {{#each ticket.productsCart}}
    <p>{{idProduct.title}} - qty: {{qty}} </p>
  {{/each}}
</article>
<article class="renderTicket">
  <h2>Your Purchase</h2>
  <p>Code: {{ticket.code}}</p>
  <p>Products:</p>

  {{#each ticket.products}}
    <p>{{idProduct.title}} - Qty: {{qty}}</p>
  {{/each}}

  <p>Total Amount: {{ticket.amount}}</p>
  <p>Purchaser: {{ticket.purchaser}}</p>
</article>


</section>
